<application>
    <meta-data android:name="io.sentry.dsn" android:value="https://d5204755e6aa47dc9624741b836cd51c@o1422839.ingest.sentry.io/6769955" />
    <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
       We recommend adjusting this value in production. -->
    <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
    <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
    <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
</application>
